<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <div>
    <h2 color="green"><%=date%> </h2>
  </div>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>

  </body>

</html>
